<h3>Add Employee</h3>
<div [hidden]="submitted" style="width: 400px;" class="row justify-content-md-center">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text"  required minlength="3"
      maxlength="8" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
    </div>
    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="name">Salary</label>
      <input type="text" class="form-control" id="salary" required [(ngModel)]="employee.salary" name="salary">
    </div>
    <div class="form-group">
      <label for="name">Phone</label>
      <input type="text" class="form-control" id="phone" required [(ngModel)]="employee.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="department">Department</label>
      <select [(ngModel)]="employee.department" name="department.id" class="form-control">
        <option *ngFor="let department of departments" value="{{department.id}}">{{ department.name }}</option>
      </select>
    </div>

    
    <div class="form-group">
      <label for="manager">Manager</label>
      <select [(ngModel)]="employee.manager" name="department.id" class="form-control">
        <option *ngFor="let manager of managers" value="{{ manager.id}}">{{ manager.firstName }}</option>
      </select>
    </div>

    

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

